<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div id="preview" class="preview">
            <img src="<%= storyItem.image %>" alt="">
        </div>
        <div id="text" class="text">
            <%= storyItem.text %>
        </div>
        <div id="option-buttons" class="btn-grid">
            <% for (let option of storyItem.options) { %>
                <% if (!option.requiredState || (option.requiredState && userChoices[option.requiredState])) { %>
                    <button class="btn" onclick="window.location.href='/<%= option.nextText %>'">
                        <%= option.text %>
                    </button>
                    <% } %>
                        <% } %>
        </div>

        <!-- <div id="option-buttons" class="btn-grid">
            <% for (let option of storyItem.options) { %>
                <button class="btn" onclick="window.location.href='/<%= option.nextText %>'">
                    <%= option.text %>
                </button>
                <% } %>
        </div> -->

    </div>
</body>

<script src="js/main.js"></script>

</html>